<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TicTacToe3D.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TicTacToe3D.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    
    <add key="serializerDll" value="C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\mscorlib.dll" />
    <add key="serializerTypeName" value=" System.Runtime.Serialization.Formatters.Binary.BinaryFormatter" />

    <!--
    <add key="serializerDll" value=" C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\System.Runtime.Serialization.Formatters.Soap.dll " />
    <add key="serializerTypeName" value="System.Runtime.Serialization.Formatters.Soap.SoapFormatter" />
    -->

    <!--
    <add key="serializerDll" value="C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\System.Xml.dll" />
    <add key="serializerTypeName" value="System.Xml.Serialization.XmlSerializer" />
    -->
  </appSettings>

  <userSettings>
    <TicTacToe3D.Properties.Settings>
      <setting name="DrawingColor" serializeAs="String">
        <value>DarkBlue</value>
      </setting>
      <setting name="DefaultCellSize" serializeAs="String">
        <value>84</value>
      </setting>
      <setting name="DefaultCameraPositionAlongX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultCameraPositionAlongY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultCameraPositionAlongZ" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="DistanceToTheNearPlaneOfCamera" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="DistanceToTheFarPlaneOfCamera" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="DefaultCameraRotationAngleAlongX" serializeAs="String">
        <value>-0.7854</value>
      </setting>
      <setting name="DefaultCameraRotationAngleAlongY" serializeAs="String">
        <value>-0.6283</value>
      </setting>
      <setting name="DefaultCameraRotationAngleAlongZ" serializeAs="String">
        <value>-1.57</value>
      </setting>
      <setting name="CameraRotationAnglePerTimerInterval" serializeAs="String">
        <value>0.157</value>
      </setting>
      <setting name="CameraTransformationIntervalForTimer" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="CameraDisplacementAlongZPerTimerInterval" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="CameraDisplacementAlongXPerTimerInterval" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CameraDisplacementAlongYPerTimerInterval" serializeAs="String">
        <value>0</value>
      </setting>
    </TicTacToe3D.Properties.Settings>
  </userSettings>
  
  <applicationSettings>
    <TicTacToe3D.Properties.Settings>
      <setting name="ReplayExtension" serializeAs="String">
        <value>rep</value>
      </setting>
      <setting name="UnfinishedGameExtension" serializeAs="String">
        <value>gam</value>
      </setting>
    </TicTacToe3D.Properties.Settings>
  </applicationSettings>
</configuration>